.topbar-container {
    height: 50px;
    width: 100%;
    background-color: #1775ee;;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbar-left {
    flex: 3;
}
.logo {
    font-size: 27px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
}
.topbar-center {
    flex: 5;
}
.topbar-center .search-bar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.search-bar .search-icon {
    margin-left: 10px;
    font-size: 25px !important;
}
.search-bar .search-input {
    width: 70%;
    border: none;
    outline: none;
}
.topbar-right {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.topbar-link {
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}
.topbar-icons {
    display: flex;
}
.topbar-icon-item {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbar-icon-badge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    font-size: 10px;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbar-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}